div{background: #fff;}

.logo{
    display: inline-block;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
    padding: 0rem .75rem;
}
img{
    width: 50px;
}

/*--- Para la vista de celular ---*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}
